archived_nn/network-1.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch0.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch1.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch2.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-variational.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/mu.pytorch filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch3.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch4.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/sigma.pytorch filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch8.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/booster.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/idx.pytorch filter=lfs diff=lfs merge=lfs -text
archived_nn/network-balanced-epoch1.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-balanced-epoch2.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch5.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch6.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch7.nn filter=lfs diff=lfs merge=lfs -text
archived_nn/network-epoch9.nn filter=lfs diff=lfs merge=lfs -text
